
/*------estilos generales---------*/

body{
    background-image: url(../assets/background-catalog.jpg);
    background-size: cover;
    margin: 40px auto; 
    max-width: 1200px; 
    padding: 0 20px;
}

/*----------fin estilos generales----------*/

/*-------------estilos header-----------*/

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  
    
}

a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #fd5105;
}

.logo{
    display: flex;
}

.logo-img{
    height: 50px;
    margin-right: 30px;
    filter:  invert(20%) brightness(1000%);
}

.nav-link{
    padding-right: 30px;
}

/*------------fin estilos header--------*/

/*-----------estilos barra búsqueda---------*/

.search-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar{
    display: flex;
    width: 100%; 
    max-width: 400px; 
    height: 25px;
    border: 1px solid #fd5105;
    border-radius: 50px;
    padding: 5px 15px;
    margin-left: 60px;
    background: transparent;
    position: relative;
}

.search-bar input{
    flex: 1;
    font-family: 'Satoshi', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 1em;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.591);
    font-size: 1em;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button i {
    color: #fd5105;
    font-size: 1.4rem;
}

/*---------fin estilos barra búsqueda----------*/

/*------------estilos cards--------------*/

.game-cards{
    display: flex;
    flex-direction: column;
}

.card-element{
    display: flex;
    padding: 0;
}


.game-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center; 
    flex: 1;
}

.cards{
    
    margin-top: 70px;
    width: 195px;
    height: 260px;
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
    border-radius: 25px;
    box-shadow: 
        inset 0 0 50px rgba(207, 205, 205, 0.486),
        0 0 15px rgba(210, 208, 208, 0.068);
    font-family: 'Nippo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f800   
}

.img-card img{
    display: flex;
    position: relative;
    width: 170px;
    height: 200px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.name-icon{
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    color: white;
    i{
        margin-left: 15px;
        font-size: 12px;
    }
}

.name-icon:hover {
    color: #ff5500; 
}


.text-card h3{
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: -2px;
    padding: 0;
    font-weight: 400;
    color: white;
    font-size: 17px;
}

.text-card p{
    margin: 0;
    margin-bottom: -13px;
    color: #fd5105;
    padding: 0;
    font-size: 13px;
}

.text-card{
    margin: 0;
    margin-bottom: -5px;
}


.button-card{
    margin-bottom: -10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #fd5105;
    border: none;
    border-radius: 30px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 10px rgba(255, 115, 0, 1);
    cursor: pointer;
}

.button-card:hover{
    background-color: rgb(227, 66, 48);
}

/*---------fin estilos cards---------*/

/*---------estilos newsletter-------*/


.started-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 45px;
    }
}

.orange{
    color: #fd5105;
}

.updates-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -80px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 45px;
    }
}

.purple{
    color: #bb4ef7;
}

/*--------bar estilos newsletter-------*/

#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-container{
    align-items: center;
    border: 2px solid #ff7434;
    border-radius: 50px;
    padding: 5px;
    width:500px;
    background-color: transparent;
    height: 35px;
    display: flex;
}

.newsletter-input{
    flex-grow: 1;
    border: none;
    background: none;
    color: #ff4902;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.newsletter-input::placeholder{
    color: #ff4902;
}

.newsletter-button {
    background-color: #fd5105;
    color: white;
    height: 35px;
    width: 100px;
    border: 3px solid #ff7434;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-button:hover {
    background-color: #ff4400b9;
}

/*--------fin bar estilos newsletter-------*/

/*-------- estilos footer---------------*/

footer {
    margin-top: 150px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-family: 'Satoshi', sans-serif;
}

.footer-left {
    max-width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

.logo img {
    margin-right: 30px;
    height: 50px;
    filter: invert(20%) brightness(1000%);
}

.footer-left p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 20px;
}

.active-text {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Nippo';
}

.active-text span {
    color: #fd5105;
}


.social-icons i {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #fd5105;
    transition: color 0.3s ease;
}

.footer-right {
    display: flex;
    gap: 180px;
}

.footer-divider {
    width: 1px;
    padding:0;
    height: 320px;
    background: rgba(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    margin-top: 7px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fd5105;
}

.footer-bottom {
    text-align: center;
    padding: 1px;
    background: #fd5105;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


.footer-bottom p {
    font-family: 'Satoshi',sans-serif;
}

.footer-bottom span {
    color: #47006C;
}



