body{

    background-image: url(../assets/LANDING\ PAGE.png);
    background-size: cover;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    overflow-x: hidden;

}



.general{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;
    z-index: 10;
}


/*Header de la pagina donde se ve todo el comienzo de esta*/

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    align-items: center;
    padding: 10px;  
    z-index: 10;
}

.logo img{
    height: 50px;
    margin-right: 30px;
    filter:  invert(20%) brightness(1000%);
}

header .texto{
    color: white;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 200;
    
}

.texto {
    display: flex;
    align-items: center;
    p{
        margin-right: 40px;
    }
}

.texto a{
    text-decoration: none;
    color: white;
    border: none;
}

header .texto :hover{
    color: #fd5105;
}

.play-btn, .fav-btn {
    margin-top: 13px;
    display: block;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    margin-bottom: 25px;
}

.play-btn {
    cursor: pointer;
    background: #696969;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
    margin-left: 410px;
}

.fav-btn {
    cursor: pointer;
    background-color: #FE5102;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
    margin-left: 30px;
}

.play-btn:hover{
    background-color: #828282;
}

.fav-btn:hover{
    background-color: #c73f01;
}
/*Fin del header-----------------------------------*/


/*comienzo luces con desvanecimiento*/

.color-dot{

    height: 1200px;
    width: 1000px;
    background: radial-gradient(closest-side, rgba(189, 67, 249), rgba(0, 0, 0, 0.1));
    opacity: 0.5;
    position: absolute;
    left: -520px;
    top: 200px;
    z-index: -1;
}

.color-dot2{

    height: 1000px;
    width: 1000px;
    background: radial-gradient(closest-side, rgba(254, 81, 2), rgba(0, 0, 0, 0.01));
    position: absolute;
    left: 1000px;
    z-index: 0;
    top: 300px;
}

/*Final luces con desvanecimiento*/


/*inicio del "titulo" de la pagina*/


.start {

    .texto1{
        color: white;
        font-size: 111px;
        font-family: 'Nippo', sans-serif;
        font-weight: 300px;
        margin-bottom: 0px;
        margin-top: 48px;
    }
    .texto2{
        color: white;
        font-size: 111px;
        font-family: 'Nippo', sans-serif;
        font-weight: 300px; 
        margin-bottom: 0px;
        margin-top: -158px;
    }
    span{color: #fd5105;

    }
}

.texto3{

    color: white;
    font-size: 21px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300px;
    
}

.botonstart{
    cursor: pointer;
    background-color: #FE5102;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5);  
    margin-top: 45px;
    display: block;
    width: 190px;
    padding: 13px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.botonstart:hover{
    background-color: #c73f01;
}

/*Fin del inicio de la pagina*/


/*Comienzo del carrusel del landing*/

.carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel img{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    z-index: -10;
    position: relative; 
    top: -140px;
}

.color-dot3{

    height: 1000px;
    width: 1000px;
    background: radial-gradient(closest-side, rgba(279, 75, 125), rgba(0, 0, 0, 0.01));
    position: absolute;
    left: 1000px;
    z-index: 0;
    top: 1200px;
}


.texto4{

    color: white;
    font-size: 120px;
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
    margin-bottom: 25px; 
    top: 560px;
    span{

        color: #FE5102;

    }
}

.botonlearn{

    cursor: pointer;
    background-color: #FE5102;
    color: white;
    box-shadow: 
    inset 0px 1px 3px rgba(255, 255, 255, 0.5), 
    0px 5px 10px rgba(73, 20, 1, 0.5);  
    display: block;
    width: 180px;
    padding: 12px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    position: relative;
    top: 450px;
}

.botonlearn:hover{

    background-color: #cb4101;

}

.carruselcentro{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 550px;
}

.imagentodo{
    .flecha1{
        color: rgb(160, 160, 160);
        font-size: 100px;
        position: absolute;
        margin-right: 1150px;
        margin-bottom: 130px;
    }

    .flecha2{
        color: rgb(160, 160, 160);
        font-size: 100px;
        position: absolute;
        margin-left: 1150px;
        margin-bottom: 130px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

}

/*Final del carrusel del landing*/

/*Comienzo tercera parte landing page*/

.general2{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;
    z-index: 10;

}

.cuadros{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.cuadro1{

    background: linear-gradient(to bottom, #742907, #000000);
    border-radius: 50px;
    width: 360px;
    height: 300px;
    i{
        color: #3d1200;
        font-size: 55px;
        margin-bottom: 0px;
        margin-left: 130px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100px;
        height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        position: relative;
        bottom: 60px;
    }
    .uno{
        color: white;
        font-family: 'Nippo', sans-serif;
        font-weight: normal;
        font-size: 25px;
        margin-left: 100px;
        margin-top: -30px;
    }
    .dos{
        color: white;
        font-family: 'Satoshi', sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
}

.cuadro2{

    background: linear-gradient(to bottom, #742907, #000000);
    border-radius: 50px;
    width: 360px;
    height: 300px;
    i{
        color: #3d1200;
        font-size: 55px;
        margin-bottom: 0px;
        margin-left: 130px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100px;
        height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        position: relative;
        bottom: 60px;
    }
    .uno{
        color: white;
        font-family: 'Nippo', sans-serif;
        font-weight: normal;
        font-size: 25px;
        margin-left: 65px;
        margin-top: -30px;
    }
    .dos{
        color: white;
        font-family: 'Satoshi', sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
}

.cuadro3{

    background: linear-gradient(to bottom, #742907, #000000);
    border-radius: 50px;
    width: 360px;
    height: 300px;
    i{
        color: #3d1200;
        font-size: 55px;
        margin-bottom: 0px;
        margin-left: 130px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100px;
        height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        position: relative;
        bottom: 60px;
    }
    .uno{
        color: white;
        font-family: 'Nippo', sans-serif;
        font-weight: normal;
        font-size: 25px;
        margin-left: 93px;
        margin-top: -30px;
    }
    .dos{
        color: white;
        font-family: 'Satoshi', sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
}

/*se finalizo la tercera parte del landing*/

/*Aqui comienza el apartado de about us de steam free*/

.titulo1{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .uno{
        color: white;
        font-family: 'Nippo', sans-serif;
        font-weight: normal;
        font-size: 110px;
        margin: 0px;
        margin-bottom: 5px;
        margin-top: 100px;
        span{
            color: #FE5102;
        }
    }

    .dos{

        color: white;
        font-family: 'Nippo', sans-serif;
        font-weight: normal;
        font-size: 20px;
        margin: 0px;
        margin-bottom: 30px;
    }

    .linea{
        border-bottom: 3px solid #FE5102;
        width: 138px;
    }

}