body{

    background-image: url(../assets/LANDING.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    overflow-x: hidden;

}



.general{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;

}

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    align-items: center;
    padding: 10px;  
    
}

.logo img{
    height: 50px;
    margin-right: 30px;
    filter:  invert(20%) brightness(1000%);
}

header .texto{
    color: white;
    font-size: 20px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 200;
    
}

.texto {
    display: flex;
    align-items: center;
    p{
        margin-right: 40px;
    }
}

.texto a{
    text-decoration: none;
    color: white;
    border: none;
}

header .texto :hover{
    color: #fd5105;
}

.play-btn, .fav-btn {
    margin-top: 13px;
    display: block;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    margin-bottom: 25px;
}

.play-btn {
    cursor: pointer;
    background: #696969;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
    margin-left: 410px;
}

.fav-btn {
    cursor: pointer;
    background-color: #FE5102;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
    margin-left: 30px;
}

.play-btn:hover{
    background-color: #828282;
}

.fav-btn:hover{
    background-color: #c73f01;
}



.color-dot{

    height: 1000px;
    width: 1000px;
    background: radial-gradient(closest-side, rgba(189, 67, 249), rgba(0, 0, 0, 0.1));
    opacity: 0.5;
    position: absolute;
    left: -520px;
    top: 200px;
}

.color-dot2{

    height: 1000px;
    width: 1000px;
    background: radial-gradient(closest-side, rgba(254, 81, 2), rgba(0, 0, 0, 0.1));
    position: absolute;
    left: 1000px;
}