/*------estilos generales---------*/
body{
    background-image: url(../assets/main-background.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;

}

.general{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;
}

/*----------fin estilos generales----------*/

/*-------------estilos header-----------*/

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  
    
}

.icon-user i{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #fd5105;
}

.logo{
    display: flex;
}

.logo-img{
    height: 50px;
    margin-right: 30px;
    filter:  invert(20%) brightness(1000%);
}

.nav-link{
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

/*------------fin estilos header--------*/

/*-----------estilos barra búsqueda---------*/

.search-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar{
    display: flex;
    width: 100%; 
    max-width: 400px; 
    height: 25px;
    border: 1px solid #fd5105;
    border-radius: 50px;
    padding: 5px 15px;
    background: transparent;
    position: relative;
}

.search-bar input{
    flex: 1;
    font-family: 'Satoshi', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 1em;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.591);
    font-size: 1em;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button i {
    color: #fd5105;
    font-size: 1.4rem;
}

/*------estilos apartado texto---------*/

.best-videogames{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.videogames-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 40px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 50px;
    }
}

.orange{
    color: #fd5105;
}

.mobile-text{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    color: white;
    margin-top: -40px;

    p{
        font-family: 'Satoshi', sans-serif;
        font-weight: normal;
    }
}

.line {
    margin-top: 20px;
    width: 90px;  
    height: 3px;  
    background-color: #ff5500; 
}

/*-----fin estilos texto-------*/

/*-----estilos cards--------*/
.game-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    margin: 0 auto;
    max-width: 750px; 
}

.name-icon{
    display: flex;
    margin-bottom: 2px;
    i{
        margin-left: 10px;
        margin-top: 4px;
    }
    
    
}

.game-cards2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    margin: 0 auto;
    max-width: 750px; 
}


.game-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center; 
}

.game-container2{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center; 
}

.cards{
    margin-top: 70px;
    width: 180px;
    height: 260px;
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
    border-radius: 25px;
    box-shadow: 
        inset 0 0 50px rgba(207, 205, 205, 0.486),
        0 0 15px rgba(210, 208, 208, 0.068);
    font-family: 'Nippo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f800   
}

.cards {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
    transform: translateY(-15px) scale(1.03);
    box-shadow: 
    0 10px 20px rgba(255, 255, 255, 0.073),
    0 0 30px rgba(255, 122, 0, 0.4),
    inset 0 0 50px rgba(232, 232, 232, 0.443);
}

.img-card img{
    display: flex;
    position: relative;
    width: 170px;
    height: 200px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.text-card h3{
    margin-top: 0;
    margin-left: 6px;
    margin-bottom: -2px;
    padding: 0;
    font-weight: 400;
    color: white;
    font-size: 17px;
}

.text-card p{
    margin: 0;
    margin-bottom: -13px;
    color: #fd5105;
    padding: 0;
    font-size: 13px;
}

.text-card{
    margin: 0;
    margin-bottom: -5px;
}

.bx{
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    color: white;
    i{
        margin-left: 15px;
        font-size: 10px;
    }
}

.bx:hover{
  color: #ff5500;   
}


.button-card{
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #fd5105;
    border: none;
    border-radius: 30px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 10px rgba(255, 115, 0, 1);
    cursor: pointer;
}



.button-card:hover{
    background-color: rgb(227, 66, 48);
}

/*------fin estilos cards------*/

/*-------estilos texto2-------*/
.popular-games{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popular-games{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 50px;
    }
}

.shooter-text{
    margin-top: -80px;
}

.line2 {
    margin-top: -30px;
    width: 90px;  
    height: 3px;  
    background-color: #ff5500; 
}

/*--------estilos categorias-------*/

.categories-text{
    display: flex;
    align-items: center;
    margin-top: 200px;
    gap: 15px;
}

.categories-text h1{
    color: white;
    font-size: 35px;
    font-weight: normal;
    font-family: 'Nippo', sans-serif;
}

.line3{
    margin-top: 8px;
    width: 90px;  
    height: 3px;  
    background-color: #ff5500;
}

.categories-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.flecha{
    color: rgb(84, 84, 84);
    font-size: 75px;
}

.categories {
    display: flex;
    gap: 20px;
}

.category{
    width: 195px;
    height: 195px;
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
    border-radius: 25px;
    box-shadow: 
        inset 0 0 50px rgba(207, 205, 205, 0.486),
        0 0 15px rgba(210, 208, 208, 0.068);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f800  
}

.category {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
    transform: translateY(-15px) scale(1.03);
    box-shadow: 
    0 10px 20px rgba(255, 255, 255, 0.073),
    0 0 30px rgba(255, 122, 0, 0.4),
    inset 0 0 50px rgba(232, 232, 232, 0.443);
}

.category h1{
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}
.category img {
    width: 120px;
}


/*Customer Feedback*/

/*Apartado texto*/

.titulo {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    gap: 10px;
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e66b3e;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
}

.line {
    width: 90px;
    height: 3px;
    margin-bottom: 15px;
    background-color: #ff5500;
}

.customer {
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: white;
}


/*Cards opiniones*/

.feedback-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}


.categorias {
    display: flex;
    gap: 20px;
}

.categoria{
    position: relative;
    font-family: 'Satoshi', sans-serif;
    color: white;
    width: 350px;
    height: 190px;
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
    border-radius: 35px;
    box-shadow: 
        inset 0 0 50px rgba(207, 205, 205, 0.600),
        0 0 15px rgba(210, 208, 208, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f800  
}

.categoria i{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #fd5105; 
}

.categoria-cambiar {
    position: relative;
    width: 230px;
    height: 130px;
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
    border-radius: 25px;
    box-shadow: 
        inset 0 0 50px rgba(207, 205, 205, 0.486),
        0 0 15px rgba(210, 208, 208, 0.068);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f800  
    
}

.categoria-cambiar i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #fd5105; 
}

.margin {
    margin-left: 110px;
}

.categoria-cambiar {
    margin-top: 40px;
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.date span {
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.date span {
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.date1 {
    font-family: 'Nippo', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.comment {
    margin-top: 0;
    font-size: 13px;
    margin-bottom: 0px;

}

.comment1 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 7px;
}

.line4 {
    width: 250px;
    height: 1px;
    margin-top:15px;
    margin-bottom: 3px;
    background-color: #a5a5a5;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom:17px;
}

.user-info1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 14px;
}


.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2px;
}

.user-info1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2px;
}


.user-info p {
    font-size: 14px;
}



/*Newsletter*/

.started-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 45px;
        margin-bottom: 50px;
    }
}

.orange{
    color: #fd5105;
}

.updates-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -80px;

    h1{
        font-family: 'Nippo', sans-serif;
        font-weight: 400;
        font-size: 45px;
    }
}

.purple{
    color: #bb4ef7;
}

/*bar estilos newsletter*/

#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-container{
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #ff7434;
    border-radius: 50px;
    padding: 5px;
    width:500px;
    background-color: transparent;
    height: 35px;
    display: flex;
}

.newsletter-input{
    flex-grow: 1;
    border: none;
    background: none;
    color: #ff4902;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.newsletter-input::placeholder{
    color: #ff5b1b;
}

.newsletter-button {
    background-color: #fd5105;
    color: white;
    height: 35px;
    width: 100px;
    border: 3px solid #ff5b10;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-button:hover {
    background-color: #ff4400b9;
}


/*stilos footer*/

footer {
    margin-top: 150px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-family: 'Satoshi', sans-serif;
}

.footer-left {
    max-width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

.logo img {
    margin-right: 30px;
    height: 50px;
    filter: invert(20%) brightness(1000%);
}

.footer-left p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 20px;
}

.active-text {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Nippo';
}

.active-text span {
    color: #fd5105;
}


.social-icons i {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #fd5105;
    transition: color 0.3s ease;
}

.footer-right {
    display: flex;
    gap: 180px;
}

.footer-divider {
    width: 1px;
    padding:0;
    height: 320px;
    background: rgba(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    margin-top: 7px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fd5105;
}

.footer-bottom {
    text-align: center;
    padding: 1px;
    background: #fd5105;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


.footer-bottom p {
    font-family: 'Satoshi',sans-serif;
}

.footer-bottom span {
    color: #47006C;
}



