body{

    background-image: url(../assets/USUARIO.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;

}

.general{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;
}



/*estilo header*/

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; 
}

a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #fd5105;
}

.logo{
    display: flex;
}

.logo-img{
    height: 40px;
    filter: invert(20%) brightness(1000%);
}




/*El logo del perfil creado*/

.logoperfil1{

    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 7px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logoperfil{

    width: 350px;
    height: 350px;
    border-radius: 50%;

}

.cosasperfil{

    margin-top: 40px;
    display: flex;
    align-items: center;
}


/*Apartado atributos personales*/

.informacion{

    color: white;
    margin-left: 50px;
    font-size: 24px;
    display: flex;
    

}

.inicio1{

    margin-right: 40px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 24px;
}


/*Atributos personales cambio*/

.infomas{
    margin: 0px;
    margin-left:25px;
}


.infomas .inicio{

    font-size: 17px;
    padding-top: 15px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
}

.linea p{
    border-bottom: 1px solid white;
    margin-top: -10px;

}

.informacion ul li{

    list-style: none;
    margin-top: 40px;

}

.linea .iconoslista{

    display: flex;  
    justify-content: flex-end; 
    margin-bottom: 14px;
    font-size: 20px;
    
}

.ordenicono{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    
}

.infomas .icono1{

    font-size: 17px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.ordenicono1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -30px;
    
}


/*Botones inferiores de cambio de datos y cerrra sesion*/

.botones{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    a{

    text-decoration: none;  

    }
}

.boton1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 20px;
    padding: 10px 40px;
    background-color: rgb(252, 79, 5);
    border-radius: 25px;
    border: none;
    margin-left:650px;
    margin-right: 25x;
    font-size: 19px;
    box-shadow: 0 0 10px rgba(255, 115, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    
    
}

.boton1:hover{

    background-color: rgb(227, 66, 48);
    

}

.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 20px;
    padding: 10px 40px;
    background-color: rgb(252, 79, 5);
    border-radius: 25px;
    border: none;
    margin-left: 40px;
    font-size: 19px;
    box-shadow: 0 0 10px rgba(255, 115, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
}

.boton2:hover{

    background-color: rgb(227, 66, 48);
    

}


/*Apartado imagenes de los videojuegos*/

.Favorites{

    font-size: 20px;
    color: white;
    margin-top: 100px;
    h2{

        font-family: 'Nippo', sans-serif;
        font-weight: 400;

    }

}

.texto1{
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}

.texto1 p{

    background-color: rgb(252, 79, 5);
    width: 90px;
    height: 3px;
    margin-left: 20px;  
    margin-bottom: 10px;
}

.images{

    display: flex;
    justify-content: center;
    align-items: center;  

}

.imagenes1{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 60px;
    display: flex;
    
}

.imagenes .fortnite{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
    
}

.imagenes2{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .warzone{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
    margin-right: 50px;
}

.imagenes3{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .fallguys{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
}

.imagenes4{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .genshinimpact{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
}

.flecha{

    color: rgb(84, 84, 84);
    font-size: 75px;
    margin-top: 50px;

}

.titulo{

    color: white;

}

#corazon{

    color: #ff7236;

}

.juegostodo{

        display: flex;
        align-items: center;
        flex-direction: column;
}

.juego1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    h4{
        margin-left: 70px;
    }
    i{
        margin-left: 115px;
    }
}

.juego2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    h4{
        margin-left: 32px;
    }
    i{
        margin-left: 87px;
    }
}

.juego3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    h4{
        margin-left: 30px;
    }
    i{
        margin-left: 100px;
    }
}

.juego4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    h4{
        margin-left: -40px;
    }
    i{
        margin-left: 55px;
    }
}


/*footer*/

footer {
    margin-top: 150px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-family: 'Satoshi', sans-serif;
}

.footer-left {
    max-width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

.logo img {
    margin-right: 30px;
    height: 50px;
    filter: invert(20%) brightness(1000%);
}

.footer-left p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 20px;
}

.active-text {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Nippo';
}

.active-text span {
    color: #fd5105;
}


.social-icons i {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #fd5105;
    transition: color 0.3s ease;
}

.footer-right {
    display: flex;
    gap: 180px;
}

.footer-divider {
    width: 1px;
    padding:0;
    height: 320px;
    background: rgba(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    margin-top: 7px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fd5105;
}

.footer-bottom {
    text-align: center;
    padding: 1px;
    background: #fd5105;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


.footer-bottom p {
    font-family: 'Satoshi',sans-serif;
}

.footer-bottom span {
    color: #47006C;
}
