body{

    background-image: url(../Recursos/USUARIO.jpg);
    background-size: cover;
    margin-left: 220px;
    margin-top: 40px;
    margin-right: 220px;
}



/*Parte superior de la pagina*/

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{

        color: rgb(227, 17, 17);
        font-family: 'Satoshi', sans-serif;
        font-weight: 300;
        font-size: 1em;
        padding-right: 10px;g

    }

    h2{

        color: white;

    }
}

.logo{

    width: 60px;
    height: 60px;
    filter:  invert(20%) brightness(1000%);

}


/*El logo del perfil creado*/

.logoperfil1{

    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 7px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logoperfil{

    width: 350px;
    height: 350px;
    border-radius: 50%;

}

.cosasperfil{

    margin-top: 40px;
    display: flex;
    align-items: center;

}


/*Apartado atributos personales*/

.informacion{

    color: white;
    margin-left: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    

}

.inicio1{

    margin-right: 10px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 30px;
}


/*Atributos personales cambio*/

.infomas{
    margin: 0px;
    margin-left:25px;
}


.infomas .inicio{

    font-size: 17px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
}

.linea p{
    border-bottom: 1px solid white;
    margin-top: -10px;

}

.informacion ul li{

    list-style: none;
    margin-top: 40px;

}

.linea .iconoslista{

    display: flex;  
    justify-content: flex-end; 
    margin-bottom: 14px;
    font-size: 20px;
    
}

.ordenicono{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    
}

.infomas .icono1{

    font-size: 17px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.ordenicono1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -30px;
    
}


/*Botones inferiores de cambio de datos y cerrra sesion*/

.botones{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    a{

      text-decoration: none;  

    }
}

.boton1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 20px;
    padding: 10px 40px;
    background-color: rgb(252, 79, 5);
    border-radius: 25px;
    border: none;
    margin-right: 40px;
    font-size: 19px;
    box-shadow: 0 0 20px rgba(255, 115, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    
    
}

.boton1:hover{

    background-color: rgb(227, 66, 48);
    

}

.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 20px;
    padding: 10px 40px;
    background-color: rgb(252, 79, 5);
    border-radius: 25px;
    border: none;
    margin-left: 40px;
    font-size: 19px;
    box-shadow: 0 0 20px rgba(255, 115, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
}

.boton2:hover{

    background-color: rgb(227, 66, 48);
    

}


/*Apartado imagenes de los videojuegos*/

.Favorites{

    font-size: 20px;
    color: white;
    margin-top: 100px;
    h2{

        font-family: 'Satoshi', sans-serif;
        font-weight: 400;

    }

}

.texto1{

    display: flex;
    align-items: center;

}

.texto1 p{

    background-color: rgb(252, 79, 5);
    width: 90px;
    height: 3px;
    margin-left: 20px;  
    margin-bottom: 10px;
}

.images{

    display: flex;
    justify-content: center;    

}

.imagenes1{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    
}

.imagenes .fortnite{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
    
}

.imagenes2{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .warzone{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
    margin-right: 50px;
}

.imagenes3{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .fallguys{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
}

.imagenes4{

    width: 190px;
    height: 250px; 
    overflow: hidden; 
    position: relative;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.imagenes .genshinimpact{

    width: 400px; 
    height: 250px;
    position: absolute;
    border-radius: 30px;
}