/*estilo general*/

body{
    background-image: url(../assets/backgorund-product.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;

}

.general{

    margin: 40px auto; 
    margin-bottom: 0;
    max-width: 1200px; 
    padding: 0 20px;
}


/*estilo header*/

header{
    display: flex;
    height: 70px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; 
}

a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #fd5105;
}

.logo{
    display: flex;
}

.logo-img{
    height: 50px;
    margin-right: 28px;
    filter: invert(20%) brightness(1000%);
}

.nav-link{
    padding-right: 65px;
    align-items: center;
    justify-content: center;
}

/*estilo barra búsqueda*/

.search-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar{
    display: flex;
    width: 100%; 
    max-width: 400px; 
    height: 25px;
    border: 1px solid #fd5105;
    border-radius: 50px;
    padding: 5px 15px;
    background: transparent;
    position: relative;
}

.search-bar input{
    flex: 1;
    font-family: 'Satoshi', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.591);
    font-size: 16px;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button i {
    color: #fd5105;
    font-size: 1.4rem;
}

/*Estilo producto*/

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    color: white;
    flex-wrap: wrap; 
}

.game-info {
    flex: 1;
    padding: 0;
}

.game-info h1 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Nippo', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.game-info h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: #FD5105 2px solid;
    width: 43px;
}

.rating {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}

.game-image img {
    max-width: 100%; 
    border-radius: 15px;
}

/* producto estilo*/

.game-details {
    margin-top: 170px;
    padding: 20px 0;
    margin-left: 50px;
    border-radius: 15px;
    color: white;
    text-align: left;
    width: 100%;
    max-width: 350px;
    font-family: 'Satoshi', sans-serif;
}

.free {
    font-size: 20px;
    padding-bottom: 10px;
}

.subtext {
    font-size: 19px;
    color: #818181;
    margin-bottom: 20px;
}

.play-btn, .fav-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    margin-bottom: 25px;
}

.play-btn {
    cursor: pointer;
    background: #FE5102;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
}

.fav-btn {
    cursor: pointer;
    background-color: #696969;
    color: white;
    box-shadow: 
    inset 0px 5px 10px rgba(255, 255, 255, 0.8), 
    0px 5px 10px rgba(73, 20, 1, 0.5); 
}

.description {
    margin-top: 20px;
    font-size: 27px;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: #FFFFFF;

}

/*HOVER*/

.play-btn:hover {
    background-color: rgb(227, 66, 48);
}

.fav-btn:hover {
    background-color: #FE5102;
}

/*Detalles del producto 2*/

.details {
    color: #B2B2B2;
    margin-top: 30px;
}

.details p {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*Productos similares*/

.similar-products {
    text-align: left;
    padding: 20px;
}

.similar-products h2 {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: white;
    margin-top: 170px;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Nippo', sans-serif;
}

.similar-products h2 span {
    color: #ff5500; 
}

.line {
    margin-top: 8px;
    width: 90px;  
    height: 3px;  
    background-color: #ff5500; 
}

.products-container {
    display: flex;
    gap: 17px; 
    
}

.product-card {
    width: 400px;
    border-radius: 15px;
    padding-bottom: 30px;
    padding:0px;
    text-align: left;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 27px;
}

.product-card h3 {
    font-weight:100;
    font-family: 'Satoshi', sans-serif;
    font-size: 23px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;

}


.product-card i {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.product-card i:hover {
    color: #ff5500; 
}


/*Footer*/
footer {
    margin-top: 150px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 50px;
    font-family: 'Satoshi', sans-serif;
}

.footer-left {
    max-width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

.logo img {
    margin-right: 30px;
    height: 50px;
    filter: invert(20%) brightness(1000%);
}

.footer-left p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 20px;
}

.active-text {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Nippo';
}

.active-text span {
    color: #fd5105;
}


.social-icons i {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #fd5105;
    transition: color 0.3s ease;
}

.footer-right {
    display: flex;
    gap: 180px;
}

.footer-divider {
    width: 1px;
    padding:0;
    height: 320px;
    background: rgba(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    margin-top: 7px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fd5105;
}

.footer-bottom {
    text-align: center;
    padding: 1px;
    background: #fd5105;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


.footer-bottom p {
    font-family: 'Satoshi',sans-serif;
}

.footer-bottom span {
    color: #47006C;
}

